/* Hero Section */
.hero-section {
  background: #ffffff;
  padding: 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}
