/* Header / Navigation */
.header {
  display: flex;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4rem;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6c757d;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
  background: #343a40;
  color: #fff;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background: #6c757d;
}

/* Hero Section */
.hero-section {
  background: #ffffff;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.hero-description {
  font-size: 1.9rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  color: #495057;
}

.hero-imgbox {
  height: 40rem;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-name {
  font-weight: 600;
}

/* Showcase Section */
.showcase-section {
  padding: 4.8rem 0 9.6rem 0;
}

.showcase-textbox {
  text-align: center;
  margin-bottom: 9.6rem;
}

.showcase-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.cards {
  gap: 3rem;
  padding: 0 3rem;
}

.card {
  text-align: center;
  padding: 4rem 3rem;
  box-shadow: 0 0 0 1px #e9ebec;
  border-bottom: 7px solid #6c757d;
  border-radius: 0.9rem;
  transition: all 0.3s;
}

.card:hover {
  transform: translateY(-1rem);
}

.card-icon {
  height: 3rem;
  width: 3rem;
  margin-bottom: 2rem;
  padding: 1.2rem;
  color: #fbf3ef;
  border-radius: 50%;
  background: #6c757d;
}

/* Courses Section */
.courses-section {
  padding: 9.6rem 0;
}
